$font-size-big:              	21px;
$font-size-normal:              14px;
$font-size-small:               12px;
$font-size-xsmall:              10px;

/* text colors */
$font-color:                    #9ba8b4;
$link-color:                    $font-color;
$link-hover-color:              #46657c;
$title-color:                   #246597;
$title-line-color:              #abcbe4;

/* icons */
$icon-color:                    #c6d0d7;
$add-widget-color:              #ebf0f4;

/* tables */
$table-bg-hover:                #d5dee5;
$table-bg-accent:               #f5f7f9;
$table-cell-padding:            7px;

/* thumbnails */

/* modal */
$modal-text-color:              #9a9a9a;
$modal-title-padding:           10px 25px;
$modal-inner-padding:           15px 25px;
$modal-header-border-color:     #c4c4c4;

/* breadcrumbs */
$breadcrumb-bg:                 transparent;
$breadcrumb-color:              $link-hover-color;
$breadcrumb-active-color:       $modal-text-color;
$breadcrumb-separator:          ">";

/* buttons */
$btn-default-color:             #333 !default;
$btn-default-bg:                #e2e2e2;
$btn-default-border:            $modal-header-border-color;
$btn-primary-color:             #fff !default;
$btn-primary-bg:                #3075aa;

/* thumbnails */
$thumbnail-padding:             5px;
$thumbnail-bg:                  #e0e0e0;
$thumbnail-border:              #e0e0e0;
$thumbnail-border-radius:       2px;


/* forms */
/*$input-color: #adb2b6;
$input-bg: transparent; */
$input-border:                  #c6d1d7;


/* popover */
$popover-color:                 #2b343c;
$popover-border-color:          #e6e6e6;
$popover-bg:                    #fafafa;
$popover-arrow-outer-width:     8px;
$popover-arrow-width:           8px;
$popover-arrow-outer-color:     #e6e6e6;
$popover-arrow-color:           #fafafa;


/* occpation */
$occupation-green:              #599541;
$occupation-yellow:             #e2c816;
$occupation-red:                #d0311c;

@import "compass";
@import "sass-bootstrap/lib/bootstrap";