$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$font-color: #9ba8b4;
$link-color: #9ba8b4;
$link-hover-color: #46657c;

@import "compass";
@import 'sass-bootstrap/lib/bootstrap';

// etc.