.modal{
  overflow-y: auto;
}

.modal-dialog {
  padding-top: 0px;
  width: 70%;
}

.modal-content {
  color: $modal-text-color;
  border-radius: $border-radius-base;
  background-color: $add-widget-color;
}

.modal-header {
  @include background-image(linear-gradient(#f6f6f6, #e2e2e2));
  
  .close{
    margin-right: -8px;
    margin-top: 0px;
  }
}

.modal-body{
  padding-bottom: 0px;
}

.modal-title{
  font-size: 11pt;
  color: $link-hover-color;
}

.modal-top{
  margin-bottom: 12px;
  position: relative;
  height: 34px;
  
  .search{
    float: right;
    
    .form-control, button{
      font-size: 9pt;
    }
  }
  
  > ol{
    position: absolute;
    bottom: 2px;
  }
}

.breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
  
  a{
    color: $breadcrumb-color;
  }
}

.modal-footer {
  margin-top: 0px;
  padding: $modal-inner-padding;
  padding-top: 0px;
  border-top: none;
  
  .btn-add{
    display: none;
  }
}

.widget-description{
  .caption {
    h4{
      font-size: 11pt;
      font-weight: normal;
      color: $breadcrumb-color;
    }
    
    p{
      font-size: 10pt;
      color: $modal-text-color;
    }
  }
}

.widget-data{
  .control-label{
    color: #6a6a6a;
    text-align: left;
    font-weight: normal;
    font-size: 11pt;
  }
  
  .form-group{
    margin-bottom: 30px;
  }
  
  .help-block{
    margin-bottom: -15px;
    color: $modal-text-color;
    font-size: 9pt;
  }
  
  .form-control{
    color: $modal-text-color;
  }
}

.btn-default{
  .bootstrap-select &, .bootstrap-select.open &{
    color: $modal-text-color;
    background-color: white;
    border-color: $input-border;
  }
}


/* category thumbnails */

.cat1{
  content: image-url("thumbnail.png");
}