.tabs-below {
  display: table;
  width: 100%;
  height: 100%;

  > .tab-content{
    overflow: auto;
    height: calc(100% - 35px);
  }

  > .nav-tabs {
    background-color: #246699; /* fallback color */
    @include background-image(linear-gradient(#387fb5, #246699));

    position: absolute;
    bottom: 0;
    border: 0;
    width: 100%;
    height: 35px;
  }
  
  li{
    margin-bottom: 0;
    border: 0;
    
    &.active{   
      background-color: #0b3657; /* fallback color */
      @include background-image(linear-gradient(#255981, #0b3657));
      
      a{
        @include border-radius(0px);
        background: transparent;
        border: 0;
        color: white;
        
        &:hover{
          background: transparent;
          color: white;
          border: 0;

          i{
            color: white;
          }
        }
      }
    }
    
    a{
      color: white;
      font-size: 8px;
      padding: 0px;
      text-align: center;
      border: 0;
      height: 35px;
      padding-top: 1px;
      
      .fa-stack{
        height: 1.8em;
      }
      
      i{
        font-size: $font-size-small;
        color: white;
        display: block;
      }
      
      &:hover{
        background: transparent;
        color: $table-bg-hover;
        border: 0;
        
        i{
          color: $table-bg-hover;
        }
      }
    }
  }
}


.link-tabs{
  li {
    width: calc(100%/3);
  }
}

.priority-tabs{
  li {
    width: calc(100%/2);
  }
}
