@import "base";

a, a:hover, a:visited {
  text-decoration: none
}

.widget{
  font-size: 9pt;
  overflow: hidden;
  
  .widget-header{
    font-size: 11pt;
    font-weight: bold;
    height: 30px;  
    color: $title-color;
    border-bottom: $title-line-color 1px solid;
    
    .wrapper{
      padding: 4px 15px;
    }
  }
  
  .widget-controls {
    float:right;
  }
  
  .widget-content{
    .wrapper{
      table{
        width: 100%;
      }
      
      .title{
        font-weight: bold;
      }
    }
  }
}

.widget.add-widget {
  .widget-content{    
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    
    .wrapper{
      font-weight: bold;   
      background-color: $add-widget-color;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      transition: background 0.4s ease;
      
      &:hover{
        background: $table-bg-hover;
        transition: 0.4s background ease;
        
        a{
          color: $link-hover-color;
          transition: 0.4s color ease;  
        }
      }
    }
  }
}

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-top: 0;
        
        &:first-child{
          text-align: left;    
          padding-left: 20px;
        }
        
        &:last-child{
          text-align: right;
          padding-right: 20px;
        }
      }
    }
  }
}

handle, i{
  color: $icon-color;
}

i.clickable{
  cursor: pointer;
}

handle, .clickable{
  &:hover{
    color: $link-hover-color;
  }
}


.widget-controls {
  handle, i{
    margin-left: 8px;
  }
  
  handle {
    cursor: move;
  }
}

.widget-title{
  i{
    color: $link-hover-color;
  }
}

.title-icon {
  margin-right: 8px;
}

/* icons */

.fa-star.clickable{
  &:hover{ color: $link-color;}
  &.selected{ color: $link-hover-color; }
}