@import "base";
@import "widgets/widgets";

body{
  font-family: Arial;
  color: $link-color;
}

.navbar-inverse .navbar-nav > li > a {
  color: $link-color;
  
  &:hover, &:focus{
    color: $link-hover-color;
  };
}

.navbar{
  @include background(image-url("control_bg.png"));
  min-height: 36px;
  margin-bottom: 0px;
  
  a, span {
    font-size: 9pt;
  }

  li {
    width: 150px;

    a {
      padding-top: 10px;
      padding-bottom: 6px;
      text-align: center;
    }
    
    .icon-vertical-bar{
      width: 1px;
      height: 36px;
      background-color: #3b444d;
      float: right;
    
      &.shadow{
        background-color: #262d35;
      }
    }

    &#tv, &#email{
      a:before{
        padding-right: 8px;
        vertical-align: sub;
      }
    } 
    
    &#tv a:before{ 
      content: image-url("icons/tv.png");
    }
    
    &#email a:before{ 
      content: image-url("icons/email.png"); 
    }
    
    &#new-widget a:before{ 
      content: '+';
      font-size: 9pt;
      color: $link-color;
      font-weight: bold;
      padding-right: 8px;
      vertical-align: middle;
    }
  }

  .navbar-collapse{
    padding: 0px;
  }
}

#widgets{
  padding: 10px;
  width: 100%;
  height: 100%;
}

.alert{
  margin: 20px 20px 0px 20px;
}