ul, ol {
    list-style: none;
}


/* Gridster styles */
.gridster {
    margin: 0 auto;
}

.gridster .gs-w {
    cursor: auto;
}

.gridster .player {
    -webkit-box-shadow: 5px 10px 25px rgba(0,0,0,0.2);
    box-shadow: 5px 10px 25px rgba(0,0,0,0.2);
}


.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(235,240,244,0.5)!important;
    opacity: 0.5;
}
